*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    background-image: linear-gradient(rgb(32, 78, 184),white);
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    height: 100vh;
    text-align: center;

}

h1{
    font-size: 2.5rem;
    font-family: 'Times New Roman', Times, serif;

}

span{
    font-size: 2rem;

}

button{
    background-color: black;
    color: aliceblue;
    padding: 1rem 2rem ;
    font-size: 1.5rem;
    margin: 1rem;
}